@import "tailwindcss";
/* @keyframes wave {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
  
  .group-hover:animate-wave {
    animation: wave 0.9s ease-in-out infinite;
  }
   */

   /* src/styles/global.css */

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}

@layer components {
  .animate-wave {
    animation: wave 1.5s ease-in-out infinite;
  }
}
